body {
  margin: 0;
  padding: 0;
  background-color: hsl(47, 88%, 63%);
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: hsl(0, 0%, 7%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#mm {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  width: 100%; /* Full width by default */
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  /* Adjust the breakpoint as needed for larger screens */
  #mm {
    max-width: 25%; /* Set a max-width for larger screens */
  }
}

#mm img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

#mm .content {
  text-align: left;
}

#mm h2 {
  display: inline-block;
  background-color: hsl(47, 88%, 63%);
  color: hsl(0, 0%, 7%);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid hsl(47, 88%, 63%);
}

#mm img:last-child {
  margin-top: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 50%);
  margin-top: 20px;
}

/* Other styles remain unchanged */
